<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>51805915479-p3cgl8t9geonqmvnfvgakdb6rb3ra0ah.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.51805915479-p3cgl8t9geonqmvnfvgakdb6rb3ra0ah</string>
	<key>API_KEY</key>
	<string>AIzaSyBsNEMtaa9YPjurlq12c9thu2X2qVWoTEA</string>
	<key>GCM_SENDER_ID</key>
	<string>51805915479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.citizenSpeak</string>
	<key>PROJECT_ID</key>
	<string>citizenspeak-b6817</string>
	<key>STORAGE_BUCKET</key>
	<string>citizenspeak-b6817.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51805915479:ios:2e82b56590f12af7929612</string>
	<key>DATABASE_URL</key>
	<string>https://citizenspeak-b6817.firebaseio.com</string>
</dict>
</plist>